<!--#set var="title" value="ריקאלו - שיווק נדל''ן וקבוצת רוכשים" -->
<!--#set var="class" value="about" -->
<!--#include file="header.html" -->
<main>
<article>
  <h1><!--#echo encoding="none" var="title" --></h1>
  <h2>אודות ריקאלו</h2>
  <div>
    <div>
      <p>חברת ריקאלו הוקמה על ידי ריקי לוי, יזמית נדל"ן בעלת ניסיון רב בתחום, המתמחה בשיווק פרויקטים, יזמות וקבוצת רוכשים.</p>
      <p>לריקי הצטרף צוות מיומן, עתיר ניסיון בענף, וביחד הם מקדמים פרויקטים מובילים רבים ברחבי הארץ. </p>
      <p>בשנים האחרונות מתמחית החברה בשיווק פרויקטים למגורים לציבור הדתי ובמגזר הכללי.</p>
      <p>בין השאר, היתה שותפה ריקאלו בפרויקטים נדל"ן רבים, כמו הקמת קבוצת הרוכשים של חברת קרדן בפתח תקווה, שיווק פרויקט מגדלי יורו של קבוצת יורו ישראל, השבחת יחידות מגורים ושיווקן באזור חיפה, וייזום פרויקטים למגורים בתל אביב, חולון, רחובות ועוד.</p>
      <p>חברת ריקאלו נמצאת כל העת במגעים עם יזמים וחברות לשיווק פרויקטים למגורים ברחבי הארץ, </p>
      <p>בזכות החזון האישי והמקצועיות שלה, מובילה ריקי את החברה קדימה בהצלחה רבה, תוך שמירה על ערכים כמו אמינות, שקיפות, נחישות ומקצועיות.</p>
      <p>חזון החברה: ריקאלו נדל"ן שמה לה למטרה להעניק שירותי שיווק וליווי אסטרטגי לחברות בניה ויזמים בכל רחבי הארץ, עם דגשים על חדשנות, יצירתיות ומענק שירות יעיל ומתקדם ללקוחותיה.</p>
      <p>נשמח לעמוד לשירותכם בכל עת, <strong> ריקי לוי וצוות ריקאלו </strong></p>
    </div>
  </div>
</article>
</main>
<!--#include file="footer.html" -->
