<!--#set var="title" value="ריקאלו - שיווק נדל''ן וקבוצת רוכשים" -->
<!--#set var="class" value="contact" -->
<!--#include file="header.html" -->
<main>
<article>
  <h1><!--#echo encoding="none" var="title" --></h1>
  <h2> חברת ריקאלו מזמינה אתכם לקחת חלק בהצלחה.  </h2>

  <div>
    <!--#if expr="$QUERY_STRING = /thankyou/" -->
    <p>הודעתך נשלחה בהצלחה.. </p>
    <!-- google conversion code here -->
    <!--#else -->
    <p> צרו עימנו קשר בטופס הבא, ונחזור אליכם בהקדם.  </p>
    <form action="send.php" method=post>
      <input placeholder="שם" name=name required type="text">
      <input placeholder="טלאפון" name=phon required type="tel">
      <input placeholder="אימייל" name=mail required type="email">
      <input type="email" name="email" style="display: none; ">
      
      <textarea name=mess placeholder="הערות"></textarea>
      <button type="submit">לשלוח</button>
    </form>
    <!--#endif -->
  </div>
</article>
</main>
<!--#include file="footer.html" -->
