<footer>
  <nav>
    <a href="">שיווק פרויקטים</a>
    <a href="">קבוצת רוכשים</a>
    <a href="">יזמות</a>
  </nav>
  <nav>
    <a class=phone href="tel:*6380"><span dir="ltr">*6380</span></a>
    <a class=mail href="mailto:riki@rikalo.co.il">riki@rikalo.co.il</a>
  </nav>
</footer>
  <link rel="stylesheet" href="style.css">
</body>
</html>
