<!--#set var="title" value="ריקאלו - שיווק נדל''ן וקבוצת רוכשים" -->
<!--#set var="class" value="home" -->
<!--#include file="header.html" -->
<main>
<article>
  <h1><!--#echo encoding="none" var="title" --></h1>
  <h2>מתאימים לכם נדל"ן</h2>
  <div>
    <figure>
      <img src="images/riki-levi.jpg" alt="RIKI LEVI">
      <figcaption>ריקי לוי</figcaption>
    </figure>
    <div>
      <p>ריקאלו הינה חברת נדל"ן צעירה ומבטיחה, המתמקדת בשיווק פרויקטים, גיבוש קבוצת רוכשים, ויזמות.</p>
      <p>את הצוות המקצועי והמיומן של ריקאלו מובילה ריקי לוי, בעלת החברה, אשר מעבר לניסיון רב שנים ומוכח בענף הנדל"ן, מביאה עימה תודעת שירות גבוהה, המלווה בחזון אישי המוביל אותה לאורך עבודתה.</p>
      <p>בין השאר, שותפה חברת ריקאלו בשיווק פרויקט מגדלי יורו של קבוצת יורו ישראל, פועלת להשבחת יחידות מגורים ושיווקם באזור חיפה, ויוזמת פרויקטים למגורים בת"א, חולון, רחובות ועוד.</p>
      <p>במשך כל שנות פעילותה, שמה ריקאלו לנגד עיניה ערכים כמו מקצועיות, אמינות, שקיפות ונחישות.</p>
      <p><strong>נשמח שתצטרפו גם אתם לרשימת לקוחותינו המרוצים.</strong></p>
    </div>
  </div>
</article>
</main>
<!--#include file="footer.html" -->
