<!--#set var="title" value="ריקאלו - שיווק נדל''ן וקבוצת רוכשים" -->
<!--#set var="class" value="media" -->
<!--#include file="header.html" -->
<main>
<article>
  <h1>כתבו עלינו</h1>
  <div>
    <div>
      <a target="_blank" href="http://www.ynet.co.il/articles/0,7340,L-4828478,00.html"><img src="images/ynet.jpg" alt=""></a>
      <a target="_blank" href="http://www.ynet.co.il/articles/0,7340,L-4823664,00.html"><img src="images/ynet02.jpg" alt=""></a>
      <a target="_blank" href="http://www.globes.co.il/news/article.aspx?did=1001138463"><img src="images/globes.jpg" alt=""></a>
      <a target="_blank" href="images/yediot.pdf"><img src="images/yediot.jpg" alt=""></a>
      <a target="_blank" href="images/calcalist.pdf"><img src="images/calcalist.jpg" alt=""></a>
      <a target="_blank" href="images/rikalo.pdf"><img src="images/media-1.jpg" alt=""></a>
      <a target="_blank" href="images/wn.pdf"><img src="images/media-2.jpg" alt=""></a>
      <a target="_blank" href="http://www.allmarketing.co.il/?CategoryID=315&ArticleID=23062"><img src="images/media-3.jpg" alt=""></a>
      <a target="_blank" href="images/pt.jpg"><img src="images/media-4.jpg" alt=""></a>
    </div>
  </div>
</article>
</main>
<!--#include file="footer.html" -->
