/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@import './fonts/stylesheet';
html {
  font-family: Alef,Arial;
  font-size: 20px;
  direction: rtl;
}
$width: 1000px;
$brown: #5e5242;
$sin:   #162455;
$orange: #f8ab03;
body {
  font-size: 100%;
  color: #fff;
  background: $sin;
}

header {
  height: 60vh;
  background-repeat: No-repeat;
  background-position: 50% 0;
  background-size: cover;
  border-bottom: 3px solid #fff;
  overflow: hidden;
  nav {
    z-index: 2;
    width: 281px;
    height: 100%;
    background: url(images/logo.png) 50% 0 no-repeat, url(images/menu-bg.jpg) 0 0 no-repeat ;

    border: 1px solid rgba(255,255,255,.8);
    box-shadow: 5px 0px 12px 1px rgba(214,209,200,.8);
    position: relative;
    right:50%;
    margin-right: - $width / 2;
    a {
      font-family: $tzar;
      font-weight: 300;
      display: block;
      height: 40px;
      line-height: 40px;
      margin: 0 42px;
      color: #fff;
      text-indent: 40px;
      position: relative;
      text-decoration: None;
      font-size: 1.4rem;
      &:first-of-type {
        margin-top: 275px;
      }

    }
  }
}
main {
  padding-bottom: 2em;
  article {
    width: $width;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    line-height: 1.3;
    p {
      margin-bottom: 1.5em;
      strong, b {
        font-weight: 700;
      }
    }
    @at-root .home & {
      > div {
        display: flex;
        align-items: flex-start;
      }
      h1,h2 {
        margin-right: 170px;
      }
      figure {
        text-align: center;
        font-weight: 700;
        margin-left: 35px;
        img {
          border: 3px solid #fff;
          border-radius: 3px;
        }
      }
    }
    @at-root .contact {
      main {
      }
      form {
        display: flex;
        flex-flow: column;
      }
      input, textarea {
        line-height: 2em;
        width: 300px;
        max-width: 100%;
        border: 1px solid gold;
        padding: 0 1em;
        margin: 0 0 1em 0;
        font-family: $tzar;
      }
      input {
        height: 2em;
      }
      textarea {
        height: 10em;
      }
      button {
        text-decoration: none;
        padding: 0 1em;
        color: #fff;
        background: #a68d6c;
        display: Inline-block;
        align-self: flex-start;
        border: none;
        font-family: $tzar;
        font-size: 1.6rem;
      }

    }
    @at-root .projects {
      header {
        overflow: hidden;
        position: relative;
      }
      #map {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        top: -46px;
        height: calc(100% + 46px);
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff;
      }
      footer + span {
        display: none;
      }
    }
    @at-root .projects & {
      > div {
        box-sizing: border-box;
      }
      figure {
        font-family: $tzar;
        font-size: 1.6rem;
        margin-bottom: 2rem;
        display: flex;
        flex-flow: column wrap;
        height: 330px;
        justify-content: center;
        &:after {
          content: '';
          display: table;
          height: 0;
          width: 100%;
          clear: both;
        }
        h3 {
          color: #d0c5b3;
          font-weight: 700;
          em {
            color: $orange;
          }
        }
        h4 {
          margin-bottom: 1.5em;
        }
        h5 {
          font-size: 1.4rem;
          margin-bottom: 1em;
        }
        a {
          text-decoration: none;
          padding: 0 1em;
          color: #fff;
          background: #a68d6c;
          display: Inline-block;
          align-self: flex-start;
          border: none;
          font-family: $tzar;
          font-size: 1.6rem;
        }
        img {
          width: 330px;
          height: 330px;
          border-radius: 50%;
          margin-left: 50px;
        }
      }
    }
    @at-root .media & {
      padding-right: 70px;
      box-sizing: border-box;
      h1 {
        margin-bottom: 1em;
      }
      > div {
        > div {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }
      a {
        margin-bottom: 1em;
        display: block;
        img {
          border-radius: 50%;
          margin-left: 50px;
        }
      }
    }
    @at-root .about & {
      padding-right: 82px;
      box-sizing: border-box;
      > div {
        div {
          display:flex;
          flex-direction: column;
        }
      }
      p:last-of-type {
        align-self: flex-end;
        text-align: left;
        padding-bottom: 100px;
        background: url(images/sign.png) 0 100% no-repeat;
      }
    }
  }
  h1,h2 {
    font-family: $tzar;
  }
  h1 {
    color: #dab375;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    padding-top: 1em;
  }
  h2 {
    font-size: 1.6rem;
    margin-bottom: 1em;
  }

}


footer {
  background: #d0c5b3;
  color: $sin;
  font-size: 1.2rem;
  text-align: center;
  padding: 1em 0 3em;
  nav {
    a {
      color: $sin;
      text-decoration: none;
      display: inline-block;
    }
    &:first-child {
      height: 1rem;
      a {
        border-left: 1px solid $sin;
        height: 20px;
        line-height: 20px;
        margin: 0 0 0 .5em;
        padding: 0 0 0 .5em;
        &:first-child {
        }
        &:last-child {
          border: none;
          margin: 0;
          padding: 0;
        }
      }
    }
    &:last-child {
      margin-top: .5em;
      a {
        &:before {
          content: '';
          width: 1.25em;
          height: 1.25em;
          display: inline-block;
          background-repeat: no-repeat;
          background-size: 100%;
          vertical-align: middle;
          margin-left: .5em;
        }
      }
      .phone:before {
        background-image: url(images/phone.svg);
      }
      .mail:before {
        background-image: url(images/letter.svg);
      }
    }
  }
}
@media screen and (max-width:1200px) {
}
@media screen and (max-width:1000px) {
  header nav {
    right: 0;
    margin-right: 0;
  }
}
@media screen and (min-width:650px) {
  body > header {
    height: 540px;
    nav {
      a:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: '';
        border-top: 1px solid $brown;
        line-height: 0;
        height: 0;
        box-shadow: 0 1px 1px 0 rgba(255,255,255,.6);
        display: block;
      }
    }

  }
  .contact header {
    background-image: url(images/contact-xxl.jpg);
  }
  .media header, 
  .home  header {
    background-image: url(images/marina-xxl.jpg);
  }
  .about header {
    background-image: url(images/about-xxl.jpg);
  }
  main article:before {
    margin-left: -150px;
    content: '';
    width: 500px;
    height: 206px;
    background: url(images/dooga.png) 0 0 no-repeat;
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media screen and (max-width:649px) {
  html {
    font-size: 20px;
  }
  body > header {
    nav {
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      position: absolute;
      width: 100%;
      display: flex;
      background: $sin;
      height: auto;
      box-shadow: none;
      justify-content: space-around;
      a {
        flex: 1 1 auto;
        border-left: 1px solid;
        text-indent: 0;
        text-align: center;
        line-height: 2;
        height: 2em;
        font-size: 1rem;
        padding: 0;
        margin: 0!important;
        white-space: nowrap;
        &:last-child {
          border-left: none;
        }
      }
    }
  }
  .contact header {
    background-image: url(images/contact-l.jpg);
  }
  .media header,
  .home  header {
    background-image: url(images/marina-l.jpg);
  }
  .about header {
    background-image: url(images/about-l.jpg);
  }
  main {
    padding: 0 1em 1em;
    h1,h2 {
      margin-right: 0!important;
    }
  }
  .media main article ,
  .about main article {
    padding-right: 0;
  }
  .home main article > div {
    flex-direction: column;
  }
  footer nav:first-child {
    display: flex;
    justify-content: center;
    height: auto;
    a {
      padding: 0 .5em;
      margin: 0;
      font-size: 1rem;
      white-space: nowrap;
    }
  }
  .projects {
    #map {
      top: -12px;
      height: calc(100% + 12px);
    }

    main article figure {
      flex-wrap: nowrap;
      align-items: flex-start;
      height: auto;
      img {
        flex-grow: 0;
        margin-right: 0;
        max-width: 80vw;
        height: auto;
      }
    }
  }
}
